certifi==2024.7.4
charset-normalizer==2.0.7
datadog-api-client==1.6.0
idna==3.7
JSON-log-formatter==0.4.0
numpy==1.22.0
python-dateutil==2.8.2
PyYAML==6.0
requests==2.32.4
reverse-geocoder==1.5.1
scipy==1.7.3
six==1.16.0
urllib3==2.6.0
